@import 'base.scss';
@import 'mixin.scss';
$projectId:'_1328805_nl2fznpc3n';
@font-face {
  font-family: 'iconfont';  /* project id 1328648 */
  src: url('//at.alicdn.com/t/font#{$projectId}.eot');
  src: url('//at.alicdn.com/t/font#{$projectId}.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font#{$projectId}.woff2') format('woff2'),
  url('//at.alicdn.com/t/font#{$projectId}.woff') format('woff'),
  url('//at.alicdn.com/t/font#{$projectId}.ttf') format('truetype'),
  url('//at.alicdn.com/t/font#{$projectId}.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  color: cornflowerblue;
  text-align: center;
  width:100%;
  height:50px;
}